<ion-header>
  <ion-toolbar>
    <ion-title color="primary">navegacao</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="showPageNavegacao2()">Ir para a Navegação 2</ion-button>
  <ion-button (click)="showPageNavegacao3()">Ir para a Navegação 3</ion-button>
  <ion-button (click)="showPageNavegacao4()">Ir para a Navegação 4</ion-button>
  <ion-button (click)="showPageNavegacao5()">Ir para a Navegação 5</ion-button>
  <ion-button (click)="showPageNavegacao6()">Ir para a Navegação 6</ion-button>
  <ion-button (click)="showPageNavegacao7()">Ir para a Navegação 7</ion-button>
  <ion-button (click)="showPageNavegacao8()">Ir para a Navegação 8</ion-button>
  <ion-button (click)="showPageNavegacao9()">Ir para a Navegação 9</ion-button>
  <ion-button (click)="showPageNavegacao10()"
    >Ir para a Navegação 10</ion-button
  >
  <ion-button (click)="showPageNavegacao11()"
    >Ir para a Navegação 11</ion-button
  >
  <ion-button (click)="showPageNavegacao12()"
    >Ir para a Navegação 12</ion-button
  >
  <ion-button (click)="showPageNavegacao13()"
    >Ir para a Navegação 13</ion-button
  >
  <ion-button (click)="showPageNavegacao14()"
    >Ir para a Navegação 14</ion-button
  >
  <ion-button (click)="showPageNavegacao15()"
    >Ir para a Navegação 15</ion-button
  >
</ion-content>
