<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de botões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="showBotaoNavegation2()">Ir para a Navegação botão 2</ion-button>
  <ion-button (click)="showBotaoNavegation3()">Ir para a Navegação botão 3</ion-button>
  <ion-button (click)="showBotaoNavegation4()">Ir para a Navegação botão 4</ion-button>
  <ion-button (click)="showBotaoNavegation5()">Ir para a Navegação botão 5</ion-button>
</ion-content>
